<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eatec.cookery">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cookery_icon_black_border"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cookery_icon_black_border"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommentPost"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewUserProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewRecipeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".CreatorActivity"
            android:label="@string/title_activity_creator"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RecipesActivity"
            android:label="@string/title_activity_recipes"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:label="LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".GoogleSignInActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".createAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreatorNewRecipe"
            android:label="@string/title_activity_creator_new_recipe"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SocialActivity"
            android:label="@string/title_activity_social"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginPreActivity"
            android:label="Cookery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StepActivity"
            android:label="@string/title_activity_step"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Ads -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2132116925167984~3381638125" />
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PROFILE" />

</manifest>