<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eatec.cookery">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cookery_icon_black_border"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cookery_icon_black_border"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".createPost.createPost"></activity>
        <activity
            android:name=".other.FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.CommentPost"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".social.ViewUserProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".recipes.card.CardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".recipes.ViewRecipeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".creator.CreatorActivity"
            android:label="@string/title_activity_creator"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".recipes.RecipesActivity"
            android:label="@string/title_activity_recipes"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".favourites.FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.LoginActivity"
            android:label="LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.GoogleSignInActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.createAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".social.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".creator.CreatorNewRecipe"
            android:label="@string/title_activity_creator_new_recipe"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".social.SocialActivity"
            android:label="@string/title_activity_social"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.LoginPreActivity"
            android:label="Cookery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipes.step.StepActivity"
            android:label="@string/title_activity_step"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- Ads -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2132116925167984~3381638125" />
    </application>

</manifest>